.button {
	display: inline;
	text-align: center;
    border: none;
    padding: 12px;
    color:var(--textColor);
    font-size: 16px;
    border-radius: 4px;
    font-weight: bolder;
}
.button:focus{
    outline: none;
}

.button__box {
	width: 100%;
	text-align: center;
    margin: 8px;
}
