.input {
	height: 24px;
	width: 50vw;
	padding: 15px;
	font-family: inherit;
	font-size: 16px;
	border-radius: 2px;
	border: none;
	margin-top: 12px;
}
@media only screen and (max-width: 660px) {
	.input {
		width: 60vw;
	}
}

@media only screen and (max-width: 550px) {
	.input {
		width: 85vw;
		/* min-width: 456px; */
	}
}

@media only screen and (max-width: 320px) {
	.input {
		width: 90vw;
		/* min-width: 456px; */
	}
}
