.url__text {
	background-color: var(--backgroundColorSec);
	text-align: center;
	padding: 4px;
	font-weight: 100;
	border-radius: 4px;
	overflow: hidden;
}
.takeAction {
	margin-top: 16px;
}

@media only screen and (max-width: 660px) {
	.url__text {
		width: 60vw;
	}
}

@media only screen and (max-width: 550px) {
	.url__text {
		width: 85vw;
		/* min-width: 456px; */
	}
}

@media only screen and (max-width: 320px) {
	.url__text {
		width: 90vw;
		/* min-width: 456px; */
	}
}
