:root {
	--backgroundColor: #000;
	--textColor: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--backgroundColor);
	color: var(--textColor);
}

#root {
	width: 100%;
	height: 100%;
	margin: 15vh 0;
	display: grid;
	place-items: center;
}
